out/
dist/
node_modules/
coverage/
script/coverage/
npm-debug.log
yarn-error.log
app/node_modules/
app/static/common/
app/test/fixtures
app/static/logos/prod/**/*.json
app/static/logos/dev/**/*.json
gemoji/
vendor/
vendor/windows-argv-parser/build/
vendor/desktop-notifications/build/
vendor/desktop-trampoline/build/
.DS_Store
.awcache
.idea/
.vs/
.vscode/*.log
.eslintcache
*.iml
.envrc
junit*.xml
*.swp
tslint-rules/
playwright-videos/
playwright-videos/.last-run.json
*.md
